/* light mode css */
  .body {
      background-color: #f4f5f7;
      width: 100%; /* increased width for entire body */
      color:#000
  }
  
  .container {
      max-width: 100%; /* set a max width for the container to prevent it from becoming too wide */
  }
  
  header {
      background-color: #fff; /* white background for header */
      padding: 20px;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd; /* grey bottom border for header */
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color:#000
   }
  
  header h1 {
      font-size: 20px;
      color: #333;
      margin: 0;
      overflow: auto;
      display: flex;
      align-items: center;
  }
  header .image-logo {
      float:left;
      width: 30px;
      vertical-align: middle;
      margin-right: 10px;
  }
  
  header .image-mode {
      width: 20px;
      vertical-align: right;
      margin-left: 100px;
  }
  
  header .extension-btns {
      display: flex;
  }
  
  header .extension-btns button {
      background: transparent;
      border: none;
      color: #333;
      margin-left: 10px;
      cursor: pointer;
  }
  
  footer {
      background-color: #fff; /* white background for footer */
      color: #333;
      padding: 20px;
      text-align: center;
      border-top: 1px solid #ddd; /* grey top border for footer */
  }
  
  footer a {
      color: #333;
  }

  .background {
    background-color: #fff;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin: 10%;
  }
  .card-title {
    text-align: center;
  }
  .card:hover {
    opacity: 70%;
    scale: 1.01;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-info {
    padding: 16px;
  }
  
  .card-info h2 {
    margin: 0 0 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .card-info p {
    margin: 0 0 16px;
    font-size: 16px;
  }
  
  .card-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .card-button:hover {
    background-color: #0069d9;
  }
  

.dark-mode {
    /* dark mode css */
    .body {
        background-color: #333; /* dark background color */
        width: 100%; /* increased width for entire body */
        color:#fff
    }
    
    .container {
        max-width: 100%; /* set a max width for the container to prevent it from becoming too wide */
    }
    
    header {
        background-color: #444; /* dark grey background for header */
        padding: 20px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #555; /* darker grey bottom border for header */
    }
    
    header h1 {
        font-size: 20px;
        color: #fff;
        margin: 0;
        overflow: auto;
        display: flex;
        align-items: center;
    }
    header .image-logo {
        float:left;
        width: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    header .image-mode {
        width: 20px;
        vertical-align: right;
        margin-left: 100px;
    }
    
    header .extension-btns {
        display: flex;
    }
    
    header .extension-btns button {
        background: transparent;
        border: none;
        color: #fff; /* white text color */
        margin-left: 10px;
        cursor: pointer;
    }
    
    footer {
        background-color: #444; /* dark grey background for footer */
        color: #fff; /* white text color */
        padding: 20px;
        text-align: center;
        border-top: 1px solid #555; /* darker grey top border for footer */
    }
    
    footer a {
        color: #fff; /* white text color */
    }

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        color:#fff
    }

    .card {
        background-color: #666;
        border: 1px solid #222;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow: hidden;
        margin: 10%;
      }
}